# History files
.Rhistory
.Rapp.history

# Session Data files
.Rproj.user/
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# Todo folder
/todo/